trigger:
- main

pool:
  name: mynew-local-agent   # your agent pool name

steps:

- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: 'newone'

echo ===== DOCKERFILE USED BY PIPELINE =====
type $(Build.SourcesDirectory)\Dockerfile
echo =====================================

echo CLEANING AGENT
rd /s /q $(Build.SourcesDirectory)

- task: Docker@2
  displayName: Build and push image
  inputs:
    command: buildAndPush
    repository: 'sriiraman/baby-app'
    tags: 'latest'
    Dockerfile: '**/Dockerfile'
    containerRegistry: 'newone'
    tags: |
      latest

- script: |
    kubectl apply -f deployment.yaml
    kubectl apply -f service.yaml
  displayName: Deploy to Minikube